 @import "bootstrap";

 header {
    display: flex;
    background-color: black;
 }

 header div:first-child {
    margin-right: auto;
    font-size: 25px;
 }

 header div:last-child {
    margin-right: 30px;
 }

 header div {
    margin-left: 30px;
    line-height: 30px;
 }

 a:hover {
    color: aqua!important;
 }

 #head-top {
    text-decoration: none;
    font-size: 25px;
 }

 .nav-link {
    text-decoration: none;
 }