.title {
    font-family: cursive;
    color: #007bff;
    text-shadow: 0 3px 6px rgba(0,0,0,0.45);
}



.sub-title {
    font-family: serif;
}

.cover {
    height: 100%;
    width: 100%;
    display: table;
    background-image: image-url("top.png");
    background-color:rgba(255,255,255,0.4);
    background-blend-mode:lighten;
    background-size: cover;
}

.center-box {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}