.title {
    font-family: cursive;
}

.sub-title {
    font-family: serif;
}

.cover {
    height: 100%;
    width: 100%;
    display: table;
    background-image: image-url("top.JPG");
    background-color:rgba(255,255,255,0.4);
    background-blend-mode:lighten;
    background-size: cover;
}

.center-box {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}