* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.bg {
    background-image:linear-gradient(to right, rgba(60, 120, 80, 0.35), rgba(60, 120, 80, 0.1)),image-url("login.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    min-height: 100vh;
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 350px;
    min-height: 600px;
    border-radius: 4px;
    border: 1px #ddd solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.15);
}

.box-inner {
    padding: 20px 26px;
}

h1 {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 10px;
    padding-bottom: 4px;
    color: rgba(255, 255, 255, 0.9);
}

.box-name {
    margin-bottom: 13px;
}

.box-email {
    margin-bottom: 13px;
}

.box-password {
    margin-bottom: 22px;
}

.box-password em {
    color: rgba(255, 255, 255, 0.9)
}

.box-name label, .box-email label, .box-password label {
    font-weight: 700;
    font-size: 13px;
    padding-left: 2px;
    padding-bottom: 2px;
    color: rgba(255, 255, 255, 0.9);
}

.a-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column-right a {
    color: #000;
}

.column-left,
.column-right  {
    float: none;
}

.box-login {
    margin-bottom: 26px;
}

.box-login input[type="submit"] {
    border-style: none;
    width: 100%;
    height: 31px;
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    border-radius: 3px;
    border: 1px #a88734 solid;
}

.box-login input[type="submit"]:hover {
    cursor: pointer;
    background: #f0c14b;
}

.remember {
    font-size: 13px;
    margin-top: 18px;
    padding-left: 3px;
}

.box-newusr p {
    text-align: center;
    font-size: 13px;
    color: #000;
    margin-bottom: 14px;
}

.box-newusr p span {
    text-decoration: line-through;
    text-decoration-color: #e7e7e7;
}

.box-newusr {
    text-align: center;
    margin-top: 20px;
}

.box-newusr a {
    display: block;
    width: 100%;
    padding: 8px 0;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;

    background-color: #fff7b3;
    color: #333;
    border: 1px solid #e6d98c;
    border-radius: 4px;

    backdrop-filter: blur(4px);
}

.box-newusr a:hover {
    background: #e7e9ec;
}
